In [2]:
import pandas as pd

In [4]:
#Generate df of all worksheets in an excel workbook
dfs=pd.read_excel('2008 - 2020 Election Results.xlsx', sheet_name=None, skiprows=0)
dfs

{'2008':       fips_code  year  total_votes  dem_votes  gop_votes  oth_votes
 0         26041  2008        19064       9974       8763        327
 1         48295  2008         1256        155       1093          8
 2          1127  2008        28652       7420      20722        510
 3         48389  2008         3077       1606       1445         26
 4         56017  2008         2546        619       1834         93
 ...         ...   ...          ...        ...        ...        ...
 3107      17115  2008        51216      25487      24948        781
 3108      29215  2008        10851       3410       7215        226
 3109      46051  2008         3830       1786       1951         93
 3110      17103  2008        16318       7765       8258        295
 3111      20063  2008         1418        261       1136         21

 [3112 rows x 6 columns],
 '2012':       fips_code  year  total_votes  dem_votes  gop_votes  oth_votes
 0         26041  2012        18043       8330       9533        180
 1         48295  2012         1168        119       1044          5
 2          1127  2012        28497       6551      21633        313
 3         48389  2012         2867       1649       1185         33
 4         56017  2012         2495        523       1894         78
 ...         ...   ...          ...        ...        ...        ...
 3107      17115  2012        48742      22688      25249        805
 3108      29215  2012        10764       2871       7618        275
 3109      46051  2012         3606       1493       2034         79
 3110      17103  2012        15275       6932       8046        297
 3111      20063  2012         1368        174       1155         39

 [3112 rows x 6 columns],
 '2016':       fips_code  year  total_votes  dem_votes  gop_votes  oth_votes
 0         26041  2016        18467       6431      11112        924
 1         48295  2016         1322        135       1159         28
 2          1127  2016        29243       4486      24208        549
 3         48389  2016         3184       1659       1417        108
 4         56017  2016         2535        400       1939        196
 ...         ...   ...          ...        ...        ...        ...
 3107      17115  2016        47283      18211      26782       2290
 3108      29215  2016        10935       1728       8875        332
 3109      46051  2016         3562        970       2381        211
 3110      17103  2016        15215       5499       8597       1119
 3111      20063  2016         1328        149       1127         52

 [3112 rows x 6 columns],
 '2020':       fips_code    year  total_votes  dem_votes  gop_votes  oth_votes
 0       26041.0  2020.0      21151.0     7606.0    13207.0      338.0
 1       48295.0  2020.0       1353.0      131.0     1205.0       17.0
 2        1127.0  2020.0      31170.0     4834.0    26002.0      334.0
 3       48389.0  2020.0       3687.0     1395.0     2254.0       38.0
 4       56017.0  2020.0       2577.0      482.0     1999.0       96.0
 ...         ...     ...          ...        ...        ...        ...
 3107    17115.0     NaN      49387.0    19847.0    28589.0        NaN
 3108    29215.0     NaN      11315.0     1716.0     9478.0        NaN
 3109    46051.0     NaN       3745.0     1056.0     2618.0        NaN
 3110    17103.0     NaN      16440.0     6407.0     9630.0        NaN
 3111    20063.0     NaN       1433.0      163.0     1256.0        NaN

 [3112 rows x 6 columns]}

In [5]:
#concatenates all sheets in the df on the first row
concat_df=pd.concat(dfs, axis=0, ignore_index=True)
concat_df.head()

   fips_code    year  total_votes  dem_votes  gop_votes  oth_votes
0    26041.0  2008.0      19064.0     9974.0     8763.0      327.0
1    48295.0  2008.0       1256.0      155.0     1093.0        8.0
2     1127.0  2008.0      28652.0     7420.0    20722.0      510.0
3    48389.0  2008.0       3077.0     1606.0     1445.0       26.0
4    56017.0  2008.0       2546.0      619.0     1834.0       93.0

In [6]:
#Sending new df to excel
concat_df.to_excel('Combined Election Results.xlsx')