In [1]:
import pandas as pd

In [8]:
#Note: need to go back and use the cols provided for FIPS to match; cannot use CTYNAME
df = pd.read_csv('population 2010 - 2019.csv')
df.set_index('CTYNAME')
print(df)

                CTYNAME     2010     2011     2012     2013     2014     2015  \
0               Alabama  4785437  4799069  4815588  4830081  4841799  4852347
1        Autauga County    54773    55227    54954    54727    54893    54864
2        Baldwin County   183112   186558   190145   194885   199183   202939
3        Barbour County    27327    27341    27169    26937    26755    26283
4           Bibb County    22870    22745    22667    22521    22553    22566
...                 ...      ...      ...      ...      ...      ...      ...
3188  Sweetwater County    43574    43986    45002    45157    44948    44719
3189       Teton County    21296    21414    21624    22315    22773    23047
3190       Uinta County    21089    20896    20996    20951    20822    20763
3191    Washakie County     8530     8449     8409     8413     8273     8278
3192      Weston County     7198     7142     7077     7136     7138     7208

         2016     2017     2018     2019
0     4863525  4874486  4887681  4903185
1       55243    55390    55533    55869
2      207601   212521   217855   223234
3       25806    25157    24872    24686
4       22586    22550    22367    22394
...       ...      ...      ...      ...
3188    44222    43464    42858    42343
3189    23234    23384    23269    23464
3190    20682    20431    20292    20226
3191     8165     8010     7877     7805
3192     7220     6968     6924     6927

[3193 rows x 11 columns]

In [11]:
#Creating list to insert in the col-to-row transformation
melt_list = ['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']

#Resetting the index and creating the new df to long-form
df = df.reset_index()
long_df = pd.melt(df, id_vars='CTYNAME', value_vars=melt_list)

In [12]:
long_df.to_excel('Long-form County Pop.xlsx')