In [1]:
import pandas as pd

In [5]:
#Creating a list of desired variables for the dataframe
filt_list = ['CoC Number', 'year', 'total_pop', 'All Ages in Poverty', 
               'total_jail_pop', 'female_jail_pop', 'male_jail_pop', 'total_jail_adm', 'total_jail_dis', 'total_prison_pop', 'female_prison_pop', 
                'male_prison_pop', 'total_prison_adm', 'All Ages SAIPE Poverty Universe', 'Under Age 18 SAIPE Poverty Universe', 'Under Age 18 in Poverty Count', 
                'total_votes', 'dem_votes', 'gop_votes', 'oth_votes']

#Reading in spreadsheet with only the desired variables
agg_df = pd.read_excel('Master Vars.xlsx', sheet_name='Sheet1', usecols=filt_list)
agg_df.dtypes

CoC Number                              object
total_pop                              float64
year                                     int64
All Ages SAIPE Poverty Universe         object
All Ages in Poverty                    float64
Under Age 18 SAIPE Poverty Universe     object
Under Age 18 in Poverty Count           object
total_jail_pop                         float64
female_jail_pop                        float64
male_jail_pop                          float64
total_jail_adm                         float64
total_jail_dis                         float64
total_prison_pop                       float64
female_prison_pop                      float64
male_prison_pop                        float64
total_prison_adm                       float64
total_votes                            float64
dem_votes                              float64
gop_votes                              float64
oth_votes                              float64
dtype: object

In [6]:
#Creating the group list of common IDs
group_list = ['CoC Number', 'year']

#Grouping all common IDs and summing all rows of each group without summing empty values
new_df = agg_df.groupby(group_list).agg({'total_pop': lambda x: x.sum(skipna=False), 
                                         'All Ages in Poverty': lambda x: x.sum(skipna=False), 
                                         'total_jail_pop': lambda x: x.sum(skipna=False), 
                                         'female_jail_pop': lambda x: x.sum(skipna=False), 
                                         'male_jail_pop': lambda x: x.sum(skipna=False), 
                                         'total_jail_adm': lambda x: x.sum(skipna=False), 
                                         'total_jail_dis': lambda x: x.sum(skipna=False), 
                                         'total_prison_pop': lambda x: x.sum(skipna=False), 
                                         'female_prison_pop': lambda x: x.sum(skipna=False), 
                                         'male_prison_pop': lambda x: x.sum(skipna=False), 
                                         'total_prison_adm': lambda x: x.sum(skipna=False), 
                                         'total_votes': lambda x: x.sum(skipna=False), 
                                         'dem_votes': lambda x: x.sum(skipna=False), 
                                         'gop_votes': lambda x: x.sum(skipna=False), 
                                         'oth_votes': lambda x: x.sum(skipna=False)}).reset_index()

In [7]:
print(new_df)

     CoC Number  year  total_pop  All Ages in Poverty  total_jail_pop  \
0        AK-500  2007   278792.0                  NaN             NaN
1        AK-500  2008   281554.0                  NaN             NaN
2        AK-500  2009   287677.0            21245.952             NaN
3        AK-500  2010   293310.0            27444.960             NaN
4        AK-500  2011   296154.0            24543.920             NaN
...         ...   ...        ...                  ...             ...
4548     WV-503  2016   272781.0            44522.254          634.60
4549     WV-503  2017   269567.0            46088.169          683.44
4550     WV-503  2018   266367.0            42810.292          726.60
4551     WV-503  2019        NaN            39317.086             NaN
4552     WV-503  2020        NaN                  NaN             NaN

      female_jail_pop  male_jail_pop  total_jail_adm  total_jail_dis  \
0                 NaN            NaN             NaN             NaN
1                 NaN            NaN             NaN             NaN
2                 NaN            NaN             NaN             NaN
3                 NaN            NaN             NaN             NaN
4                 NaN            NaN             NaN             NaN
...               ...            ...             ...             ...
4548            90.51         534.43         9058.27         5956.48
4549           112.82         634.18         8672.29         8019.83
4550           154.41         691.27         8686.60         7995.32
4551              NaN            NaN             NaN             NaN
4552              NaN            NaN             NaN             NaN

      total_prison_pop  female_prison_pop  male_prison_pop  total_prison_adm  \
0                  NaN                NaN              NaN            4975.0
1                  NaN                NaN              NaN            5167.0
2                  NaN                NaN              NaN            5478.0
3                  NaN                NaN              NaN            4297.0
4                  NaN                NaN              NaN            5048.0
...                ...                ...              ...               ...
4548               NaN                NaN              NaN               NaN
4549               NaN                NaN              NaN               NaN
4550               NaN                NaN              NaN               NaN
4551               NaN                NaN              NaN               NaN
4552               NaN                NaN              NaN               NaN

      total_votes  dem_votes  gop_votes  oth_votes
0             NaN        NaN        NaN        NaN
1             NaN        NaN        NaN        NaN
2             NaN        NaN        NaN        NaN
3             NaN        NaN        NaN        NaN
4             NaN        NaN        NaN        NaN
...           ...        ...        ...        ...
4548     109385.0    35770.0    68465.0     5150.0
4549          NaN        NaN        NaN        NaN
4550          NaN        NaN        NaN        NaN
4551          NaN        NaN        NaN        NaN
4552          NaN        NaN        NaN        NaN

[4553 rows x 17 columns]

In [38]:
#Sending the new DF to excel
new_df.to_excel('Summed_Vals.xlsx')